* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;
}

/* colors */
:root {
    --blanco: #fff;
    --blanco2: #e5e5e5;
    --negro: #000;
    --azul-Oscuro: #0a141d;
    --azul-oscuro2: #0d2033;
    --aqua: aqua;
}

body {
    width: 100vw;
    background-color: var(--blanco);
}

body h1 {
    text-transform: uppercase;
}

body hr {
    margin: 0 10%;
}

body::-webkit-scrollbar {
    width: 14px;
    background-color: transparent;
    
}

body::-webkit-scrollbar-thumb {
    background: var(--blanco2);
    border-radius: 20px;
}

/* Nav */

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.775);
    padding: 5px 10%;
    font-weight: bold;
}
.logo img {
    width: 50px;
    border-radius: 50%;
}

.menu {
    display: flex;
}

.menu li:first-child {
    display: none;
}

.menu li {
    padding-left: 40px;
}

.menu li a {
    display: inline-block;
    color: var(--blanco);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--blanco);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu , .close-menu {
    position: absolute;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
    font-size: 35px;
}

#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.9);
        transition: all 0.2s ease-in-out;
    }

    .menu li:first-child {
        display: flex;
        margin-bottom: 20px;
    }

    .menu figure {
        /* display: none; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu figure img {
        width: 60px;
        border-radius: 50%;
    }

    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}


/* Sections */
.sections {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


/* section 1 - Slider 1 */

.contenido1-slide {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider1 {
    width: 54%;
    height: 65%;
    border-radius: 5px;
    overflow: hidden;
}

.contenido1-slide .title1 {
    display: none;
} 

.slider1 h1 {
    display: flex;
    width: 120%;
    margin-bottom: -87px;
    transform: translate(-10%, -10%);
    background-color: rgba(0, 0, 0, 0.186);
    justify-content: center;
    padding: 25px 0px;
    color: var(--blanco);
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px rgba(238, 237, 237, 0.141);
}

.slides {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: left;
    overflow: hidden;
    margin-top: 5px;
}

.slides input {
    display: none;
}

.slide {
    min-width: 100%;
    transition: 2s;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav-manual { 
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--blanco2);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
    padding-left: 30px;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--blanco2);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}

#radio3:checked ~ .first {
    margin-left: -200%;
}

#radio4:checked ~ .first {
    margin-left: -300%;
}

/* Seccion Texto */

.contenido1-slide .title {
    display: flex;
    width: 35%;
    height: 70%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenido1-slide .div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px 0;
    border: 1px solid rgba(23, 66, 108, 0.085);
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 0.279);
}

.contenido1-slide .title h1 {
    padding: 10px;
    margin: 2px;
    font-size: 28px;
    overflow: hidden;
}

.contenido1-slide .title hr {
    border: 1px solid rgba(0, 0, 0, 0.116);
    margin-bottom: 40px;
}


.contenido1-slide .title h2 {
    padding: 15px 30px;
    width: 100%;
    font-size: 22px;
    text-align: justify;
    overflow: hidden;
}


/* section 2 - Galeria */

.contenido2-galery {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.contenido2-galery h1 {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    font-size: 26px;
}

.img-galery {
    width: 80%;
    padding: 25px;
    margin: 20px auto 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
}

.img-galery img {
    width: 100%;
    height: 350px;
    cursor: pointer;
    transition: 0.7s;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.208);
    border-radius: 5px;
}

.img-galery img:hover {
    transform: scale(1.11);
}

.full-img {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 99;
}

.full-img img {
    width: 90%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.204);
}

.full-img span {
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    top: 5%;
    right: 5%;
    font-size: 26px;
    border: 1px solid var(--negro);
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.574);
    background-color: var(--azul-oscuro2);
    border-radius: 20px;
    color: var(--blanco);
    cursor: pointer;
} 




/* section 3 - Misión */

.contenido3-about {
    display: flex;
    height: 40vh;
    background-color: rgba(20, 20, 20, 0.868);
    padding: 10px 30px;
    color: var(--blanco);
    text-align: center;
    font-size: 28px;
}




/* section 4 - Redes sociales */


.contenido4-redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: auto;
}

.contenido4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 50%;
    border: 1px solid rgba(23, 66, 108, 0.085);
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 0.279);
}

.contenido4 p {
    padding: 20px;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.red-social {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 50%;
}

.red-social h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    font-size: 24px;
}

.red-social .instagram-media {
    width: 100%;
    max-height: 100%;
    padding: 20px;
}




/* section 5 - Footer */

.footer {
    width: 100%;
    height: 30vh;
    background-color: var(--azul-Oscuro);
    overflow: hidden;
}

.footer .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo1 .box figure img {
    width: 150px;
    border-radius: 50%;
}

.footer .grupo1 .box h2 {
    color: var(--blanco);
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo1 .box p {
    color: var(--blanco2);
    margin-bottom: 10px;
}

.footer .grupo1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: var(--blanco);
    margin-right: 10px;
    background-color: var(--azul-oscuro2);
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo1 .red-social a:hover {
    color: var(--aqua);
}

.footer .grupo-2 {
    background-color: var(--azul-oscuro2);
    padding: 15px 10px;
    text-align: center;
    color: var(--blanco);
}

.footer .grupo-2 small {
    font-size: 15px;
}




/* Media Querys - Diseño responsive */

@media screen and (max-width:1302px) {

    .contenido2-galery {
        height: auto;
    }

    .contenido2-galery h1 {
        font-size: 24px;
    }

    .contenido3-about .titulo p {
        font-size: 25px;
        font-weight: bold;
    }
    
    .contenido4-redes {
        height: auto;
    }

    .contenido4-redes .red-social {
        flex-wrap: wrap;
        width: 80%;
    } 
    

    .footer {
        height: auto;
    }
}


@media screen and (max-width:1160px) {
    .contenido1-slide .div-title {
        width: 100%;
    }
}

@media(max-width:1004px) {

    .nav-bar {
        width: 100%;
        padding: 12px 50px;
    }

    .contenido1-slide .title1 {
        margin-top: 60px;
    }

    .contenido1-slide {
        flex-direction: column;
        height: auto;
        margin: 20px 0;
        gap: 1.3rem;
    }

    .slider1 h1 {
        display: none;
    }

    .contenido1-slide .title {
        width: 80%;
        height: 70%;
        padding: 5px;
    }

    .contenido1-slide .title1 {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 15%; */
        font-size: 26px;
        width: 90%;
        padding: 20px 0;
        border: 1px solid rgba(23, 66, 108, 0.085);
        border-radius: 5px;
        background-color: rgba(230, 230, 230, 0.279);
    } 

    .contenido1-slide .div-title {
        width: 100%;
        margin-top: 20%;
        
    }

    .contenido1-slide .div-title h2 {
        width: 90%;
        padding: 5px;
        margin: 0px;
    }

    .slider1 {
        width: 90%;
        padding-bottom: 22px;
        height: 50vh;
    }

    .nav-manual {
        margin-top: -50px;
    }

    .manual-btn {
        border: 2px solid var(--blanco);
        padding: 5px;
        padding-left: 20px;
    }

    .slides {
        height: 110%;
    }

    .contenido1-slide {
        justify-content: center;
    }
}

@media(max-width:824px) {

    .contenido1-slide .title h1 {
        font-size: 24px;
    }

    .contenido1-slide .title h2 {
        font-size: 18px;
    }

    .contenido1-slide .title {
        width: 90%;
    }

    .slider1 {
        width: 100vw;
    }

    .nav-manual {
        margin-top: -50px;
    }

    .contenido3-about .titulo p {
        font-size: 20px;
    }

    .contenido4-redes {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .contenido4 {
        height: 20%;
        margin: 50px 0;
    }

    .contenido4 h2 {
        margin: 20px 0;
        font-size: 18px;
        letter-spacing: 0.5px;
    }

    .contenido4-redes .red-social {
        width: 70%;
        overflow: hidden;
        height: auto;
        margin: 30px 0px;
    } 

    .contenido4-redes .red-social h2 {
        font-size: 24px;
    }

    .footer .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .footer .box:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .grupo1 .red-social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
    }
}

@media(max-width:500px) {
    .contenido4-redes .red-social {
        width: 101%;
        overflow: hidden;
        height: auto;
        margin: 0;
    }

    .footer .grupo1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:410px) {

    .img-galery {
        width: 90%;
        padding: 15px;
        margin: 30px 0px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 15px;
    }
    
    .img-galery img {
        height: 290px;
    }

    .contenido3-about .titulo p {
        font-size: 18px;
    }
}